*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
}
.maincontainer{
    text-align:center;
    font-size: 18px;
    color: white;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:.5fr 1fr 1fr 1fr .8fr .5fr;
    grid-template-areas: "nav nav nav nav"
    "slide main main main"
    "slide main main main"
    "slide content1 content2 content3"
    "beforefooter1 beforefooter1 beforefooter2 beforefooter3"
    " footer footer footer footer" ;
    
}
nav{
    background: rgb(1, 49, 21);
    border: 2px solid white;
    grid-area: nav;
    display:flex;
    justify-content:center;
    align-items:center;
}
main{
    background: rgb(69, 247, 143);
    border: 2px solid white;
    grid-area: main;
    display:flex;
    justify-content:center;
    align-items:center;
}
#slide{
    background: rgb(68, 218, 68);
    border: 2px solid white;
    grid-area: slide;
    display:flex;
    justify-content:center;
    align-items:center;
}
#content1{
    background: rgb(9, 214, 94);
    border: 2px solid white;
    grid-area: content1;
    display:flex;
    justify-content:center;
    align-aitems:center;
}
#content2{
    background: rgb(9, 214, 94);
    border: 2px solid white;
    grid-area: content2;
    display:flex;
    justify-content:center;
    align-aitems:center;
}
#content3{
    background: rgb(9, 214, 94);
    border: 2px solid white;
    grid-area: content3;
    display:flex;
    justify-content:center;
    align-items:center;
}
#beforefooter1{
    background: rgb(11, 255, 113);
    border: 2px solid white;
    grid-area: beforefooter1;
    display:flex;
    justify-content:center;
    align-items:center;
}
#beforefooter2{
    background: rgb(11, 255, 113);
    border: 2px solid white;
    grid-area: beforefooter2;
    display:flex;
    justify-content:center;
    align-items:center;
}
#beforefooter3{
    background: rgb(11, 255, 113);
    border: 2px solid white;
    grid-area: beforefooter3;
    display:flex;
    justify-content:center;
    align-items:center;
}
#footer{
    background: rgb(0, 49, 21);
    border: 2px solid white;
    grid-area: footer;
    display:flex;
    justify-content:center;
    align-items:center;
}
@media screen and (max-width:576px) {
    .maincontainer{
        text-align:center;
        font-size: 18px;
        color: white;
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .8fr .5fr;
        grid-template-areas: "nav nav"
        "main main"
        "main main"
        "content1 content1"
        "content2 content2"
        "content3 content3"
        " slide slide"
        "beforefooter1 beforefooter1"
        " beforefooter2 beforefooter3"
        " footer footer" ;
    }
        
}
@media screen and (min-width:577px) {
    .maincontainer{
        text-align:center;
        font-size: 18px;
        color: white;
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:.5fr 1fr 1fr 1fr 1fr .8fr .5fr;
        grid-template-areas: "nav nav nav"
        "main main main"
        "main main main"
        "content1 content2 content3"
        " slide slide slide"
        "beforefooter1 beforefooter2 beforefooter3"
        "footer footer footer" ;
    }
        
}
@media screen and (min-width:768px) {
    .maincontainer{
        text-align:center;
        font-size: 18px;
        color: white;
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:.5fr 1fr 1fr 1fr .8fr .5fr;
        grid-template-areas: "nav nav nav nav"
        "slide main main main"
        "slide main main main"
        "slide content1 content2 content3"
        "beforefooter1 beforefooter1 beforefooter2 beforefooter3"
        " footer footer footer footer" ;
        
    }
}
